/*Global attributs*/
h1 {
    text-align: center;
}

/*Section login*/
#login {
    display: block;
    margin: 20px auto;
}

img {
    display: block;
    width: 160px;
    margin: 0 auto;
}

h3 {
    padding: 20px 0;
    text-align: center;
}

form {
    display: block;
    margin: 0 auto;
    max-width: 300px;
}

label {
    font-size: 20px;
    font-weight: bold;
}

#btn-submit {
    margin: 12px 0;
}

.form-login {
    background-color: #EDEDED;
}

h4 {
    text-align: center;
    padding: 15px 5px;
}

/*fin de la section login*/

/* BEGIN SLIDEBAR */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/*  ----------------- Sidebar Styles ----------------- */

.sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 250px;
}

.sidebar-nav h2 {
    color: white;
    padding: 10px 0;
    text-align: center;
}

.sidebar-nav li {
    line-height: 40px;
    text-indent: 20px;
    text-indent: 0;
    padding-left: 45px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus, .linkButton:active, .linkButton:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.sidebar-nav li:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li:active, .linkButton:active, .linkButton:focus {
    text-decoration: none;
    border: none;
}

#form-logout {
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: 15px;
    left: 65px;
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 0;
    }

    #wrapper.toggled {
        padding-left: 250px;
    }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* END SLIDEBAR */

/*Content Page*/
#secondDiv {
    margin-top: 100px;
    padding: 0;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:last-child {
    background-color: lightblue;
}

/*Section : sing-up-course */

#sing-up-course p {
    color: green;
    font-weight: bold;
    padding-top: 30px;
    text-align: center;
}

h3 {
    text-align: center;
}

#sing-up-course ul {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 20%;
}

/*Section : depot-homework */

#depot-homework {
    width:100%;
}


#depot-homework > span {
    color: green;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
}

#mainDiv, #secondDiv, #dropZone {
    margin: 0 auto;
    padding: 15px;
    border: 1px solid gray;
    width: 80%;
}

#mainDiv label {
    width: 20%;
    margin-bottom: 20px;
}

#mainDiv select, #mainDiv button {
    width: 60%;
}

#mainDiv .error {
    color: red;
    font-weight: bold;
    text-align: center;
}

#drop-zone {
    background-color: cornflowerblue;
    border: 2px dashed black;
    display: block;
    margin-top: 100px;
    margin: 0 auto;
    min-height: 240px;
    width:800px;
}

#drop-zone p {
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
}




/*Section : course-summary*/

#course-summary {

}
